# ################ #
# Ceneral          #
# ################ #
*.log
.DS_Store

# ################ #
# Go               #
# ################ #
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the -o option
*.out

# Project-specific
# コンパイル後のGoサーバー実行ファイルを無視する
server/life-assist-server


# ################ #
# Python           #
# ################ #
# Virtualenv
venv/
/venv/
.venv/
/.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib62/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ################ #
# Project-specific #
# ################ #
# SQLite database
*.db
*.db-journal

# Temporary audio files
*.wav
